<h1>Create New Question</h1>

<form action= "/tests/params[:id]/questions/params[:id]" method="post">
    <input name = "authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <p>
        <label for="question-body">Body:</label>
        <input type="text" name="question[body]" id="question_body">
         <input name = "question[test_id]" value="<%= params[:test_id] %>" type="hidden">

    </p><br>

    <input type="submit" value="Create">
</form>
