<h1><%= t('.header', title: @test_passage.test.title )%> </h1>

  <% if @test_passage.success?%>
    <h3 style= "color:green"><%= t('.passed_test', result: @test_passage.success_rate)%> %</h3>
  <%else%>
    <h3 style= "color:red"><%= t('.not_passed_test', result: @test_passage.success_rate) %>% </h3>
  <%end%>

<%= link_to t('.all_tests'), tests_path %>
