<div class="container">
  <% flash.each do |key, message| %>
    <div class="<%= flash_class(key)%>" role="alert">
    <%= content_tag :p, message, class: "flash #{key}" %>
    </div>
  <% end %>
</div>
