<div class="container">
  <div class="footer">
    <p>
    <h3>Учебный проект <%=github_url("mariyamurashova", "Test-Guru")%> выполнен в рамках обучения в онлайн-школе <%= link_to "Thinknetica", 'http://thinknetica.com'%>.</p>
    <p> Автор - Мурашова Мария. </p>
    <p> <%=curent_year%> </p>
    </h3>
  </div>
</div>
