<div id="footer">
<p>
    <h3>Учебный проект <%= link_to '"Тест-Гуру"', github_url("mariyamurashova", "Test-Guru")%> выполнен в рамках обучения в онлайн-школе <%= link_to "Thinknetica", 'http://thinknetica.com'%>.</p>
 <p>       
     Автор - Мурашова Мария. 
 </p>
 <p>     
    <%=curent_year%> 
    </h3>
</p>
</div>
